body {
  text-align: center;
  background-color: darkolivegreen;
  color: blanchedalmond;
  font-family: "Courier New", Courier, monospace;
}

#chart {
  width: 80vw;
  height: 320px;
  position: relative;
  margin: auto;
}

.bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: black;
  transition: 0.1s all ease;
}

.bar_id {
  position: absolute;
  top: -20px;
  left: 0px;
  width: inherit;
  color: darkolivegreen;
}

button {
  margin: 2%;
  padding: 1%;
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
  color: black;
  background-color: darkolivegreen;
  border-radius: 10px;
}

select {
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
  color: blanchedalmond;
  background-color: darkolivegreen;
  border-radius: 5px;
  border-width: 3px;
  border-color: black;
  font-size: large;
}

.slider {
  margin: 10px;
  -webkit-appearance: none;
  width: 50vw;
  height: 15px;
  border-radius: 5px;
  background: blanchedalmond;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

input {
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
  color: blanchedalmond;
  background-color: darkolivegreen;
  border-radius: 5px;
  border-width: 3px;
  border-color: black;
  font-size: large;
}
